---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/leaderboard" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Redirecting to Leaderboard…</title>
  </head>
  <body>
    <main>
      <p>Redirecting to the teams leaderboard… <a href="/leaderboard">Go now</a>.</p>
    </main>
  </body>
</html>
